<% include partials/header %>

<h1>Campgrounds:</h1>

<a href="campgrounds/new">Add New Campground</a>

<% for (var i = 0; i < campgrounds.length; ++i) { %>
    <div>
        <h4><%= campgrounds[i]["name"] %></h4>
        <img src="<%= campgrounds[i]['image'] %>">
    </div>
<% } %>

<% include partials/footer %>