<% include ./partials/header %>

<div class="row">
    <!--Header-->
    <h1 style="text-align: center;">Login Page</h1>
    
    <!--Login Form-->
    <div style="width: 30%; margin: 25px auto">
        <form action="/login" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Log In</button>
            </div>
        </form>
        
        <!--Go back-->
        <a href="/campgrounds">Go back</a>
    </div>
</div>


<% include ./partials/footer %>